<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{% block title %}Sistema Integrado de Gestion Sindical{% endblock %}</title>
<link type="text/css" href="static/jquery-ui-1.8.21.custom.css" rel="Stylesheet" />	
<link type="text/css" href="static/jquery.noty.css" rel="Stylesheet" />
<link type="text/css" href="static/noty_theme_default.css" rel="Stylesheet" />
<link type="text/css" href="static/style.css" rel="Stylesheet" />
<link type="text/css" href="static/SIGS-styles.css" rel="Stylesheet" />
<link type="text/css" href="static/SIGS_popup.css" rel="Stylesheet" />
<script src="/static/jquery-1.7.2.min.js"></script>
<script src="/static/jquery-ui-1.8.21.custom.min.js"></script>
<script src="/static/jquery.ui.datepicker-es.js"></script>
<script src="/static/validator.js"></script>
<script src="/static/jquery.noty.js"></script>
<script src="/static/__jquery.tablesorter.min.js"></script>
</head>
<body>
		{% block bodycontent %}
						
		{% endblock %}
</body>
</html> 
